body {
    font-family: Helvetica;
    background-color: #ABC9B4;
    text-align: center;
    }

h1 {
    border: solid;
    border-color: white;
    font-size: 50px;
    color: ghostwhite;
    width:300px;
    margin: auto;
    padding: 5px;
    text-shadow: 2px 2px #ff0000;
    border-radius: 3px;
}

h2 {
    font-size: 30px;
    color: ghostwhite;
    text-shadow: 2px 2px #ff0000;
}

h3 {
    font-size: 20px;
    color: white;
}

p {
    font-size: 18px;
    color: darkslategrey;
}

pre {
    font-size: 18px;
    color: white;
    align-content: center;
}

.img1 {
width: 700px;
float: left;
display: block;
filter: grayscale(100%);
opacity: 1;
}

.logoYT {
width: 150px;
float: bottom;
display: block;
filter: grayscale(0%);
opacity: 1;
bottom: 10 px;
}

button {
    background-color: ghostwhite;
    width:300px;
    padding: 5px;
    font-family: Courier;
    border-radius: 5px;
    border: 1px solid red;
    margin: 2px;
    display: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 18px;
    color: darkslategrey;
    align-content: center;
}

/* --------------unvisited link */
#menu a:link {
  font-size: 13px;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

/* ---------------visited link */
#menu a:visited {
  font-size: 13px;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

/* ---------------mouse over link */
#menu a:hover {
  font-size: 13px;
  color: darkred;
  font-weight: bold;
  text-decoration: none;
  border-left: 6px solid darkred;
}

/* ---------------selected link */
#menu a:active {
  font-size: 13px;
  color: red;
  font-weight: bold;
  text-decoration: none;
}